<launch>

  <arg name="nao_ip"              default="$(optenv NAO_IP 172.18.33.122)" />  
  <arg name="nao_port"            default="$(optenv NAO_PORT 9559)" />

  <arg name="roscore_ip"          default="127.0.0.1" />
  <arg name="network_interface"   default="wlp5s0" />

  <arg name="namespace"           default="naoqi_driver_node" />


  <!-- naoqi driver  ns="$(arg namespace)"   pepper_robot-->
  <include file="$(find naoqi_driver)/launch/naoqi_driver.launch"   >
    <arg name="nao_ip"            value="$(arg nao_ip)" />
    <arg name="nao_port"          value="$(arg nao_port)" />
    <arg name="roscore_ip"        value="$(arg roscore_ip)" />
    <arg name="network_interface" value="$(arg network_interface)" />
       </include>

  <!-- launch pose manager   ns="$(arg namespace)/pose"-->
  <include file="$(find naoqi_pose)/launch/pose_manager.launch"  >
    <arg name="nao_ip"            value="$(arg nao_ip)" />
    <arg name="nao_port"          value="$(arg nao_port)" />
  </include>

  <!-- launch perception -->
  <include file="$(find pepper_bringup)/launch/perception.launch.xml">
    <arg name="namespace"         value="$(arg namespace)" />

  </include>

</launch>
